{#
This file is part of the BardisCMS.
(c) George Bardis <george@bardis.info>
#}


{# Overrides for the contact form fields row etc #}
{% block form_row %}
{% spaceless %}
        {{ form_label(form) }}
<div class="formFieldContainer">
			{{ form_widget(form) }}
    </div>
		{{ form_errors(form) }}
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <small class="error">
        {% for error in errors %}
            {{ error.message }}
        {% endfor %}
        </small>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}