{#

Sonata User Bundle Overrides

This file is part of the BardisCMS.
Manage the extended Sonata User entity with extra information for the users

(c) George Bardis <george@bardis.info>

#}

{# Overrides for the contact form fields row etc #}
{% block form_row %}
    {% spaceless %}
    <div class="large-12 small-12 columns">
        {{ form_label(form) }}
        <div class="formFieldContainer">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <small class="error">
                {% for error in errors %}
                    {{ error.message }}
                {% endfor %}
            </small>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
