/* -----------------------------------------
   Foundation Styles Overrides
----------------------------------------- */

header, nav, article, footer, address,
section, aside, hgroup, figure{
    display: block;
}

body, div, dl, dt, dd, ul, ol, li, pre,
form, fieldset, p, blockquote, th, td {
}

h1, h2, h3, h4, h5, h6{
}

iframe {
    left: 0;
    border: none!important;
}

a{
}

a:hover, a:focus{
}

.inv{
    font-size: 1px;
    overflow: hidden;
    text-indent: -100%;
    display: inline-block;
}

.hidden{
    display: none!important;
    visibility: hidden!important;
}

img{
    border: none;
}

strong {
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
}

table {
    font-size: inherit;
    float: left;
    border-spacing: 0!important;
    border-collapse: collapse!important;
}

td{
    text-align: center;
    padding: 5px;
}

.clearBoth{
    clear: both;
}

[class*="column"] + [class*="column"]:last-child {
    float: left;
}

.hidden{
    display: none;
}

/*-------------------------------------------
    Website Body / Backgrounds
  -----------------------------------------*/

body{
    min-height: 100%;
    width: 100%;
}

.superWrapper{
    width: 100%;
    min-height: 100%;
    min-width: 320px;
}

.wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.pageContents{
    min-height: 300px;
}


/*-------------------------------------------
    Website Logo / Header
  -----------------------------------------*/

header{
    overflow: visible;
    position: relative;
    background-color: #CCC;

    #logo{
        position: relative;
        z-index: 98;

        .logo{
            float: left;
            display: block;
            margin: 0;
        }

        a{
            display: block;
            width: 100%;
            -webkit-animation-duration: 1s!important;
            animation-duration: 1s!important;

            &:hover{
                -webkit-animation-name: pulse;
                animation-name: pulse;
            }

            img{
                display: block;
                max-width: 100%;
            }
        }
    }
}

/*-------------------------------------------
    Navigation Menu Styles
  -----------------------------------------*/

.top-bar{
    margin:10px 0;
}

/*-------------------------------------------
    Orbit Slideshow
  -----------------------------------------*/

.bannerSlide{
    z-index: 1;

    &.active{
        z-index: 2;
    }
}

/*-------------------------------------------
    Homepage Page styles
  -----------------------------------------*/

.homepageItem{
    margin: 10px 0;

    img{
        width: 100%;
    }
}

/*-------------------------------------------
    Generic Page styles
  -----------------------------------------*/

.readMoreImage {
    width: 100%;
}

.accordion-navigation {
    position: relative;

    > a {
        padding-right: 2.5rem!important;

        &:after {
            content: "\25BC";
            position: absolute;
            right: rem-calc(16);
            top: rem-calc(16);
            font-size: rem-calc(16);
        }
    }

    &.active > a:after {
        content: "\25B2";
    }
}

.formFieldContainer {
    position: relative;
}

// Button loading styles
form {

    button {

        &:before {
            content: '';
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -11px;
            width: 20px;
            height: 20px;
            border: 4px solid;
            border-left-color: transparent;
            border-radius: 50%;
            opacity: 0;
            transition-duration: 0.5s;
            transition-property: opacity;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-name: rotatingLoader;
            animation-timing-function: linear;
        }

        &:after {
            content: '';
            display: inline-block;
            height: 100%;
            width: 0px;
            transition-delay: 0.5s;
            transition-duration: 0.75s;
            transition-property: width;
        }

        &.sending {
            pointer-events: none;
            cursor: not-allowed;

            &:not(.expand) {
                text-align: left;
            }

            &:before {
                transition-delay: 0.5s;
                transition-duration: 1s;
                opacity: 1;
            }

            &:after {
                transition-delay: 0s;
                width: 20px;
            }
        }
    }
}

// Button loading Animation
@keyframes rotatingLoader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* -----------------------------------------
        Pagination
----------------------------------------- */

.paginationHolder {
    margin-top: rem-calc(30);

    ul{
        text-align: center;

        li{
            float: none;
            display: inline-block;
            height: auto;
            margin: 4px 0;

            a {
                color: $white-color;
                font-size: rem-calc(12);
                letter-spacing: 1px;
                line-height: 1.4;
                font-family: $alt-font-family;
                background: none #ccc;

                &:hover, &:focus {
                    color: $white-color;
                    background: none $primary-color;
                }
            }

            &.current{

                a{
                    color: $white-color;
                    background: none $dark-gray-color;
                    font-weight: normal;

                    &:hover, &:focus {
                        color: $white-color;
                        background: none $dark-gray-color;
                    }
                }
            }
        }
    }
}

/* -----------------------------------------
   Filter form styles
----------------------------------------- */

#filterResultsFormHolder{
    margin-top: 28px;
    position: relative;
    padding-bottom: 68px;
}

#filterResultsFormHolder h3{
    display: none;
}

#filterResultsFormHolder form{
    margin: 0;
}

#filterResultsFormHolder .control-group{
    width: 100%;
    float: left;
}

#filterResultsFormHolder label{
    font-size: 16px;
    line-height: 20px;
    margin-bottom:12px;
    text-transform: uppercase;
    color: #052763;
    cursor: default;
}

#filterResultsFormHolder .controls label{
    font-size: 0.9285em;
    font-size: 0.9285rem;
    line-height: 1.285em;
    line-height: 1.285rem;
    text-transform: none;
    color: #052763;
    cursor: pointer;
    margin-bottom:0;
}

#filterResultsForm .formBtns {
    float: none;
    position: absolute;
    bottom: 22px;
    right: 0;
    width: 25%;
}

#filterResultsForm .formBtns .checkAllBox{
    float: left;
    margin-top: 4px;
}

#filterResultsForm #filterResultsBtn{
    float: right;
    background: url(../images/site_assets/indexSlideArrow.png) no-repeat 80% 50% #0A3982;
    border-radius: 16px 16px 16px 16px;
    color: #FFFFFF;
    display: block;
    font-family: "futuramedium", "Helvetica", Tahoma, Arial, sans-serif;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    padding: 0 34px 0 16px;
    text-align: left;
    text-transform: uppercase;
    border: none;
    font-weight:normal!important;
}

#filterResultsForm #filterResultsBtn:hover{
    cursor: pointer;
    background: url(../images/site_assets/indexSlideArrow.png) no-repeat 80% 50% #011A48;
}

#filterResultsForm .checkAllBox label{
    font-size: 0.9285em;
    font-size: 0.9285rem;
    line-height: 1.285em;
    line-height: 1.285rem;
    text-transform: none;
    color: #052763;
    cursor: pointer;
    margin-bottom:0;
}

.customCheckBox input{
    display: none;
}

.lt-ie9 #filterResultsForm .customCheckBox input{
    display: inline-block;
    float: left;
    clear: left;
}

.customCheckBox input + label {
    padding: 3px 3px 3px 22px;
    padding: 3px 3px 3px 1.6rem;
    display: inline-block;
    position: relative;
    line-height: 18px;
    line-height: 1.285rem;
    clear: left;
    float: left;
}

.lt-ie9 .customCheckBox input + label{
    display: inline-block;
    float: left;
    clear: none;
}

.customCheckBox input + label:after {
    content: '\00a0';
    font-size: 14px;
    font-size: 1rem;
    position: absolute;
    top: 3px;
    left: 0px;
    color: #99a1a7;
    box-shadow: 0 1px 2px rgba(0,0,0,0), inset 0px 1px 3px rgba(13,59,131,0);
    border: none;
    border-radius: 9px;
    border-radius: 0.6425rem;
    background-color: #FFF;
    width: 18px;
    height: 18px;
    line-height: 18px;
    width: 1.285rem;
    height: 1.285rem;
    line-height: 1.285rem;
    text-align: center;
}

.lt-ie9 .customCheckBox input + label:after{
    display: none;
}

.customCheckBox input:checked + label:after {
    content: '\2714';
    color: #FFF;
    box-shadow: 0 1px 2px rgba(0,0,0,0), inset 0px -15px 10px -12px rgba(0,0,0,0), inset 15px 10px -12px rgba(13,59,131,0);
    border: none;
    background-color: #052763;
}

.filterResultsFormBtns {

    .customCheckBox {

        input{
            display: none;
        }

        input + label {
            display: inline-block;
            position: relative;
            line-height: 1.2;
            font-size: rem-calc(24);
            cursor: pointer;
            margin: 0;
            color: $secondary-color;
            text-transform: none;

            transition: all 300ms ease-in-out;

            &:after {
                content: '\00a0';
                font-size: rem-calc(20);
                color: $dark-gray-color;
                line-height: 1.2;
                padding-left: 12px;
            }

            &:hover {
                color: $dark-gray-color;

                &:after {
                    content: '\2716';
                }
            }
        }
    }
}

/* -----------------------------------------
   Sitemap page
----------------------------------------- */

.sitemapList ul{
}

.sitemapList li{
}

.sitemapList a, .sitemapList .separator{
}

.sitemapList ul ul li a{
}

/* -----------------------------------------
   Google Map
----------------------------------------- */

#map_canvas {
    width: 95%;
    height: 100%;
    float: left;
}

/* -----------------------------------------
   Footer Styles
----------------------------------------- */

footer{
    background: #CCC;

    &.row{
        margin-top: rem-calc(30);
    }

    .smo-menu-item{
        display: block;
        width: 24px;
        height: 24px;
        background: #000;
    }
}

/* ---------------------------------------------------
   Media Queries for mobile / tablets responsiveness
----------------------------------------------------- */

@media #{$small-only} {

    html {
        font-size: 11px!important;
    }
}

@media #{$medium-down} {

    html {
        font-size: 13px!important;
    }
}

@media #{$medium-only} {

}

@media #{$medium-up} {

}

@media #{$large-up} {

}

@media only screen and (device-width: 320px) and (orientation:portrait){

}

@media only screen and (device-width: 320px) and (orientation:landscape){

}

@media only screen and (max-width: 380px){

}

@media only screen and (max-width: 498px){

}

@media only screen and (max-width: 766px) and (min-width: 499px){

}

@media only screen and (max-width: 767px){

}

@media only screen and (device-width:768px) and (orientation:portrait){

}

@media only screen and (device-width:768px) and (orientation:landscape){

}

@media only screen and (max-width: 959px) and (min-width: 768px){

}

@media only screen and (min-width: 960px) {

}

@media print {
    div:not(.reveal-modal) {
        display: inherit !important;
    }
}
