<div id="footerNav" class="large-12 small-12 columns">
    {{ knp_menu_render('footer', {'currentClass': 'active current'}) }}
</div>

<div id="copyrights" class="large-12 small-12 columns">
    {% include '::smo_links.html.twig' %}
</div>

<div id="copyrights" class="large-12 small-12 columns">
    <p>Copyrights &copy; {{"now"|date('Y')}}</p>
</div>

