<form action="{{ path('sonata_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="sonata_user_group_new">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'group.new.submit'|trans([], 'SonataUserBundle') }}" />
    </div>
</form>
