{#

Sonata User Bundle Overrides

This file is part of the BardisCMS.
Manage the extended Sonata User entity with extra information for the users

(c) George Bardis <george@bardis.info>

#}

<div class="fos_user_group_show">
    <p>{{ 'group.show.name'|trans([], 'SonataUserBundle') }}: {{ group.getName() }}</p>
</div>
