{% for contentBlock in page.bannercontentblocks|sort_by_attribute('ordering') %}
    {% if contentBlock.publishedState == 1 %}
<div class="contentBlock categoryListingItem {% if contentBlock.className is not null %}{{ contentBlock.className }}{% endif %} twelve mobile-twelve column" {% if contentBlock.idName is not null %}id="{{ contentBlock.idName }}"{% endif %}>
            {% include 'PageBundle:Contents:bannercontentblock.html.twig' %}
    </div>
    {% endif %}
{% endfor %}
