{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="contentBlock firstBlock large-12 columns">
        <h3>Thank you for joining</h3>
    </div>  
{% endblock fos_user_content %}
