{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="contentBlock firstBlock large-12 columns">
        <h3>Enter your details below</h3>
    </div>
    <div class="large-12 columns">
        {% include "SonataUserBundle:Registration:register_content.html.twig" %}
    </div>     
{% endblock fos_user_content %}
