{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="small-12 large-6 columns large-centered">
        <div class="panel">
            <div class="row">

                <div class="large-12 small-12 columns">
                    {% include "SonataUserBundle:Registration:register_content.html.twig" %}
                </div>

                <div class="large-12 small-12 columns">
                    <p>
                        <a href="{{ url('sonata_user_security_login') }}" class="button" title="{{ 'layout.link.have_account'|trans({}, 'SonataUserBundle') }}">
                            {{ 'layout.link.have_account'|trans({}, 'SonataUserBundle') }}
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock fos_user_content %}
