{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="large-12 columns">
        {% include "SonataUserBundle:Registration:register_content.html.twig" %}
    </div>
    <div class="small-12 large-6 columns large-centered">
        <p>
            <a href="{{ url('fos_user_security_login') }}" class="button" title="Already have an account">Already have an account</a>
        </p>
    </div>
{% endblock fos_user_content %}
