    <form id="subscribeForm" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" novalidate>
        <small class="right">* Mandatory fields</small>
        {{ form_widget(form) }}
        <input type="submit" id="subscribeFormBtn" class="button" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>
