page:
    loadservices: true

    pagetypes:
        one_columned:       One Column Page
        two_columned:       Two Column Page
        three_columned:     Three Column Page
        contact:            Contact Form Page
        register:           Registration Form Page
        category_page:      Category Page
        page_tag_list:      Filtered Results
        homepage:           Homepage
        user_profile:       User Profile
        user_login:         User Login Page
        sitemap:            Sitemap

    mediasizes:
        original:   Original
        small:      Small
        medium:     Medium
        big:        Big

content_block:
    loadservices: true

    mediasizes:
        original:   Original
        small:      Small
        medium:     Medium
        big:        Big

    contenttypes:
        html:       Text/HTML
        image:      Image
        file:       File Attachment
        youtube:    YouTube Video
        slide:      Slide
        contact:    Contact Form

    contentsizes:
        large-12:     100%
        large-3:      25%
        large-4:      33%
        large-6:      50%
        large-8:      66%
        large-9:      75%

tag:
    loadservices: true

    tagcategories:
        generic:       Generic Tags
        special:       Special Tags

category:
    loadservices: true

menu:
    actions:
        none:       None
        showPage:   Show Page

    menutypes:
        Page:		Page
        Blog:		Blog Page
        http:		External URL
        url:		Internal URL
        seperator:  Seperator

    menugroups:
        Main Menu:          Main Menu
        Small Footer Menu:  Small Footer Menu
        Footer Menu:        Footer Menu

    accessLevel:
        0:      Public
        1:      Authenticated
        2:      Administrator

    publishState:
        0:      Unpublished
        1:      Published

blog:
    loadservices: true

    comments: true

    pagetypes:
        blog_article:         Blog Article
        blog_cat_page:        Blog Category Page
        blog_filtered_list:   Blog Filter Results
        blog_home:            Blog Homepage

    mediasizes:
        original:   Original
        small:      Small
        medium:     Medium
        big:        Big

comment:
    loadservices: true

    commenttypes:
        Blog:       Blog Comments

#skeleton:
#    loadservices: true
#
#    pagetypes:
#        skeleton_article:         Skeleton Article
#        skeleton_filtered_list:   Skeleton Tag Results
#        skeleton_home:            Skeleton Homepage
#        category_page:            Skeleton Category Page
#
#    mediasizes:
#        original:   Original
#        small:      Small
#        medium:     Medium
#        big:        Big
