imports:
    - { resource: config.yml }

framework:
    router:   { resource: "%kernel.root_dir%/config/routing_dev.yml" }
    profiler: { only_exceptions: false }

web_profiler:
    toolbar: true
    intercept_redirects: false

#monolog:
#    handlers:
#        main:
#            type:  stream
#            path:  %kernel.logs_dir%/%kernel.environment%.log
#            level: debug
#        firephp:
#            type:  firephp
#            level: info
#            
monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested
        nested:
            type:  stream
            path:  %kernel.logs_dir%/%kernel.environment%.log
            level: debug


assetic:
    use_controller: false

swiftmailer:
    delivery_address: george@bardis.info
    disable_delivery: true
