parameters:
    database_driver:    pdo_mysql
    database_host:      localhost
    database_port:      ~
    database_name:      bardiscms
    database_user:      root
    database_password:  ~

    pdo_service_dsn:    "mysql:dbhost=%database_host%;dbname=%database_name%"

    mailer_transport:	smtp
    mailer_host:	localhost
    mailer_user:	~
    mailer_password:	~
    mailer_encryption:	~
    mailer_port:	~

    locale:             en
    secret:             2WYgMKzMLqEVFNU245fLqEVFNvprjmRy0I4Q

    unix_socket:        ~ #/tmp/mysql.sock #for mac/linux environment

    userpass:           userpass
    adminpass:          adminpass
