{% extends sonata_block.templates.block_base %}

{% block block %}
    <h3 class="sonata-clearcache-title">{{ settings.title }}</h3>
	<div class="btn-group panel" align="left">
		<a class="btn btn-warning" href="/admin/bardiscms/page/page/clearcache" target="_blank">
			<i class="glyphicon glyphicon-refresh"></i>
            {% trans from 'SonataAdminBundle' %}clear_cache_dev{% endtrans %}
        </a>
		<a class="btn btn-warning" href="/admin/bardiscms/page/page/clearcacheprod" target="_blank">
			<i class="glyphicon glyphicon-refresh"></i>
            {% trans from 'SonataAdminBundle' %}clear_cache_prod{% endtrans %}
        </a>
		<a class="btn btn-warning" href="/admin/bardiscms/page/page/clearhttpcache">
			<i class="glyphicon glyphicon-refresh"></i>
            {% trans from 'SonataAdminBundle' %}clear_http_cache{% endtrans %}
        </a>
	</div>
{% endblock %}