{% extends "::base.html.twig" %}

{% block content %}
	<div class="small-12 large-12 columns large-centered">
		{% include "SonataUserBundle:Profile:show_content.html.twig" %}
	</div>
{% endblock content %}
