{#

Sonata User Bundle Overrides

This file is part of the BardisCMS.
Manage the extended Sonata User entity with extra information for the users

(c) George Bardis <george@bardis.info>

#}

{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="large-12 small-12 columns">
        <div class="row">

            <div class="large-12 small-12 columns">
                {% if logged_username is not null and profile_owner %}
                    {% include "SonataUserBundle:Profile:user_menu.html.twig" %}
                    {#
                    <h2>
                        {% block sonata_profile_title %}
                            {% trans from 'SonataUserBundle' %}profile_menu.show{% endtrans %}
                        {% endblock %}
                    </h2>
                    #}
                {% endif %}

                {% block sonata_profile_content '' %}

                {% include "SonataUserBundle:Profile:show_content.html.twig" %}
            </div>

            <div class="large-12 small-12 columns">
                {% include 'SonataUserBundle:UserFlashMessage:render.html.twig' %}
            </div>

        </div>
    </div>
{% endblock fos_user_content %}
