{#

Sonata User Bundle Overrides

This file is part of the BardisCMS.
Manage the extended Sonata User entity with extra information for the users

(c) George Bardis <george@bardis.info>

#}

{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="small-12 large-6 columns large-centered">
        <div class="column callout secondary">
            <div class="row">

                <div class="large-12 small-12 columns">
                    <p class="callout is-visible alert">
                        {{ 'resetting.password_already_requested'|trans({}, 'SonataUserBundle') }}
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock fos_user_content %}
