{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="contentBlock firstBlock twelve columns">
        <div class="twelve column">
            <h3>You are now registered with Want My Bet!</h3>
        </div>
    </div>
    <div class="twelve columns">
        <p>Did you know you can also join us on <a href="https://www.facebook.com/Wantmybet" target="_blank" title="Facebook">Facebook</a> and <a href="https://twitter.com/wantmybet" target="_blank" title="Twitter">Twitter</a>.</p>
        <h3>Where to next?</h3>
        <ul>
        	<li>Take a Tour</li>
        	<li>Sign-up to Bookies and claim up to £100 free betting now.</li>
        </ul>
    </div>     
{% endblock fos_user_content %}

