{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="contentBlock firstBlock twelve columns">
        <div class="twelve column">
            <h3>You are now registered</h3>
        </div>
    </div>
{% endblock fos_user_content %}

