{% block subject %}
    {% autoescape false %}
        Welcome!
    {% endautoescape %}
{% endblock %}
{% block body_text %}
    {% autoescape false %}
    	Hi {{ user }}!

        Click <a href="{{ confirmationUrl }}">HERE</a> to confirm your account.
    {% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
