<div class="large-12 small-12 columns">
    <div class="row">
        <div class="columns large-12 small-12 introItemText">
            <p>
                No results found. Please amend the selected search filters/terms and try again.
            </p>
            <p>
                {% set readMoreUrl = app.request.getBaseURL() ~ '/blog/tagged/all|all' %}
                <a class="button button-read-more" href="{{ readMoreUrl }}" title="See all">
                    See all articles <i class="fi-play"></i>
                </a>
            </p>
        </div>
    </div>
</div>
