/******************** CUSTOM STYLES **************************/

.ui-combobox {
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}

.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}

.ui-autocomplete{
    list-style:none!important;
    font-size: 12px!important;
    margin:0!important;
}

.ui-autocomplete a{
    color: #333!important;
}

.ui-autocomplete a:hover{
    text-decoration: none!important;
    cursor: pointer!important;
}

.filefield label, .imagefield label, .videofield label{
    display:none!important;
}

.filefield .controls, .imagefield .controls, .videofield .controls{
    margin:0!important;    
}

.mediaPreviewHolder{
    background-color: #F5F5F5;
    border: 1px solid #999;
    clear: left;
    float: left;
    margin: 10px 0;
    padding: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mediaPreviewHolder h4{
    margin-bottom: 10px!important;
}

.ui-sortable fieldset{
    width:740px!important;
}

.ui-sortable fieldset fieldset{
    width:auto!important;
}

.sonata-bc .form-horizontal .ui-sortable .controls .controls {
    width: 453px !important;
}

.ui-sortable fieldset.sonata-ba-collapsed-fields-close:hover{
    cursor:pointer;
}

.sonata-ba-collapsed-fields label{
	clear:left;
}

.sonata-ba-collapsed-fields input, .sonata-ba-collapsed-fields select, .sonata-ba-collapsed-fields .ui-combobox{
	float:left;
}

.sonata-ba-fielset-collapsed .sonata-ba-collapsed{
    cursor:pointer;
}

.sonata-ba-field-help{
    float:left;
    clear:both;
}

.sonata-bc .form-horizontal .controls {
    margin-left: 40px!important;
    float:left!important;
    width:780px;
}

.sonata-ba-field-standard-natural input[type="text"], 
.sonata-ba-field-standard-natural input[type="number"], 
.sonata-ba-field-standard-natural .ui-combobox input{
    width: 294px!important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
    line-height: 20px;
    height: 30px!important;
}

.sonata-ba-field-standard-natural .ui-combobox input{
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #CCCCCC;
}

.sonata-bc textarea{
    /*width: 294px!important;*/
}

.sonata-ba-field-standard-natural ul{
    padding:5px 7px!important;
    margin:0!important;
    width: 294px!important;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #CCCCCC;
}

.sonata-ba-field-standard-natural select{
    width: 294px!important;
}

.sonata-ba-field-standard-natural input[type="radio"], .sonata-ba-field-standard-natural input[type="checkbox"]{
    margin-right:6px!important;
}

.sonata-ba-field-standard-natural input, .sonata-ba-field-standard-natural textarea, .sonata-ba-field-standard-natural select{
    float:left!important;  
}

.sonata-ba-field-standard-natural .help-block{
    float:left!important;
    margin:0!important;
    clear:none!important;
    color:#999!important;
    padding:7px 7px 3px 7px;
    line-height: 20px;
}

.sonata-bc .form-horizontal .controls .imagefield .controls, .sonata-bc .form-horizontal .controls .videofield .controls{
    margin-left: 0!important;
}

.sonata-collection-add, .sonata-collection-delete{
    padding:0!important;
    color: #333333!important;
    text-decoration: none!important;
}

.sonata-bc input.btn {
    height:30px;
}

.sonata-bc .form-horizontal .ui-sortable .sonata-collection-row{
    margin:0!important;
    min-height:44px;
}

.sonata-bc .form-horizontal .ui-sortable .control-group{
    margin-bottom: 6px!important;
}

.sonata-bc .form-horizontal .ui-sortable .controls{
    width:528px!important;
}

a.sonata-ba-collapsed{
    text-decoration: none!important;
}