/******************** CUSTOM STYLES **************************/

.ui-combobox {
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}

.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}

.ui-autocomplete{
    list-style:none!important;
    font-size: 12px!important;
    margin:0!important;
}

.ui-autocomplete a{
    color: #333!important;
}

.ui-autocomplete a:hover{
    text-decoration: none!important;
    cursor: pointer!important;
}

.filefield .controls, 
.imagefield .controls, 
.videofield .controls{
    margin: 0!important;    
}

.sonata-ba-field-standard-natural select,
.sonata-ba-field-standard-natural ul,
.sonata-ba-field-standard-natural input[type="text"], 
.sonata-ba-field-standard-natural input[type="number"], 
.sonata-ba-field-standard-natural .ui-combobox input,
.ui-autocomplete-input,
.mediaPreviewHolder {
    width: 294px!important;
    border: 1px solid #999;	
    padding: 0 10px;
    border-radius: 3px;
}

.sonata-ba-field-standard-natural input[type="text"], 
.sonata-ba-field-standard-natural input[type="number"],
.sonata-ba-field-standard-natural select,
.sonata-ba-field-standard-natural .ui-combobox input,
.ui-autocomplete-input,
.select2-choice{
    line-height: 20px;
    height: 30px!important;
	
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
}

.mediaPreviewHolder{
    background-color: #F5F5F5;
    border: 1px solid #999;
    clear: left;
    float: left;
    margin: 10px 0;
    padding: 10px;
    width: auto!important;
	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mediaPreviewHolder h4{
    margin-bottom: 10px!important;
}

.ui-sortable fieldset{
    width:740px!important;
}

.sonata-ba-field-standard-natural textarea,
.sonata-ba-field-standard-natural .mce-panel{
    max-width:740px!important;
}

.ui-sortable fieldset.sonata-ba-collapsed-fields-close:hover,
.sonata-ba-fielset-collapsed .sonata-ba-collapsed {
    cursor:pointer;
}

.sonata-ba-field-help{
    clear:both;
}

.sonata-bc .form-horizontal .spotattributes .controls,
.ui-sortable fieldset fieldset {
    width:auto!important;
}

.sonata-ba-field-standard-natural select{
    padding: 5px 0 5px 10px!important;
}

.sonata-ba-field-standard-natural ul{
    padding: 5px 10px!important;
    margin: 0!important;
}

.sonata-ba-field-standard-natural input[type="radio"],
.sonata-ba-field-standard-natural input[type="checkbox"]{
    margin-right: 6px!important;
}
/*
.sonata-ba-field-standard-natural input,
.sonata-ba-field-standard-natural textarea,
.sonata-ba-field-standard-natural select{
    float:left!important;  
}
*/
.sonata-bc .form-horizontal .controls .imagefield .controls,
.sonata-bc .form-horizontal .controls .videofield .controls{
    margin-left: 0!important;
}

.sonata-collection-add,
.sonata-collection-delete{
    color: #FFF!important;
    text-decoration: none!important;
}

.btn-default  .sonata-collection-add,
.btn-default  .sonata-collection-delete{
    color: #666666 !important;
}

.sonata-bc input.btn {
    height:30px;
}

.sonata-bc .form-horizontal .ui-sortable .sonata-collection-row{
    margin:0!important;
    min-height:44px;
}

.sonata-bc .form-horizontal .ui-sortable .control-group{
    margin-bottom: 6px!important;
}

a.sonata-ba-collapsed{
    text-decoration: none!important;
}

.autoCompleteItems {
	float:left;
}

#dialogPreview{
	text-align: center;
	background: #EEE;
}

label{
	cursor: pointer;
}

.ui-dialog{
    z-index: 9999;
}

.form-horizontal .control-label{
    padding-top: 0!important;
}

.videoPreview iframe {
    max-width: 100%;
}

.mediaPreviewHolder .imagefield .form-group:first-child,
.mediaPreviewHolder .videofield .form-group:first-child,
.mediaPreviewHolder .filefield .form-group:first-child {
    display: none;
}


/******************************************************************/

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}