/* -----------------------------------------
   Foundation Styles Overrides
----------------------------------------- */
/* line 17, ../scss/styles.scss */
iframe {
  left: 0;
  border: none !important;
}

/* line 28, ../scss/styles.scss */
.inv {
  position: absolute;
  font-size: 0.5em;
  font-size: 0.5rem;
  left: -9999px;
}

/* line 35, ../scss/styles.scss */
.hidden {
  display: none !important;
}

/* line 39, ../scss/styles.scss */
img {
  border: none;
}

/* line 43, ../scss/styles.scss */
strong {
  font-size: inherit;
  line-height: inherit;
  font-weight: bold;
}

/* line 49, ../scss/styles.scss */
table {
  font-size: inherit;
  float: left;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}

/* line 56, ../scss/styles.scss */
td {
  text-align: center;
}

/* line 60, ../scss/styles.scss */
.clearBoth {
  clear: both;
}

/* line 64, ../scss/styles.scss */
.hidden {
  display: none;
}

/*-------------------------------------------
    Website Body / Backgrounds
  -----------------------------------------*/
/* line 72, ../scss/styles.scss */
body {
  min-height: 100%;
  width: 100%;
}

/* line 77, ../scss/styles.scss */
.superWrapper {
  width: 100%;
  min-height: 100%;
  min-width: 320px;
}

/* line 83, ../scss/styles.scss */
.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* line 89, ../scss/styles.scss */
.pageContents {
  min-height: 300px;
}

/*-------------------------------------------
    Website Logo / Header
  -----------------------------------------*/
/* line 98, ../scss/styles.scss */
header {
  overflow: visible;
  position: relative;
  background-color: #CCC;
}

/* line 104, ../scss/styles.scss */
#logo {
  position: relative;
  z-index: 98;
}
/* line 108, ../scss/styles.scss */
#logo .logo {
  float: left;
  display: block;
  margin: 0;
}
/* line 114, ../scss/styles.scss */
#logo a {
  display: block;
  width: 100%;
}
/* line 119, ../scss/styles.scss */
#logo img {
  display: block;
  max-width: 100%;
}

/*-------------------------------------------
    Navigation Menu Styles
  -----------------------------------------*/
/* line 129, ../scss/styles.scss */
.top-bar {
  margin: 10px 0;
}

/*-------------------------------------------
    Homepage Page styles
  -----------------------------------------*/
/*-------------------------------------------
    Generic Page styles
  -----------------------------------------*/
/* -----------------------------------------
   Filter form styles
----------------------------------------- */
/* line 145, ../scss/styles.scss */
#filterResultsFormHolder {
  margin-top: 28px;
  position: relative;
  padding-bottom: 68px;
}

/* line 151, ../scss/styles.scss */
#filterResultsFormHolder h3 {
  display: none;
}

/* line 155, ../scss/styles.scss */
#filterResultsFormHolder form {
  margin: 0;
}

/* line 159, ../scss/styles.scss */
#filterResultsFormHolder .control-group {
  width: 100%;
  float: left;
}

/* line 164, ../scss/styles.scss */
#filterResultsFormHolder label {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #052763;
  cursor: default;
}

/* line 173, ../scss/styles.scss */
#filterResultsFormHolder .controls label {
  font-size: 0.9285em;
  font-size: 0.9285rem;
  line-height: 1.285em;
  line-height: 1.285rem;
  text-transform: none;
  color: #052763;
  cursor: pointer;
  margin-bottom: 0;
}

/* line 184, ../scss/styles.scss */
#filterResultsForm .formBtns {
  float: none;
  position: absolute;
  bottom: 22px;
  right: 0;
  width: 25%;
}

/* line 192, ../scss/styles.scss */
#filterResultsForm .formBtns .checkAllBox {
  float: left;
  margin-top: 4px;
}

/* line 197, ../scss/styles.scss */
#filterResultsForm #filterResultsBtn {
  float: right;
  background: url(../images/site_assets/indexSlideArrow.png) no-repeat 80% 50% #0a3982;
  border-radius: 16px 16px 16px 16px;
  color: #FFFFFF;
  display: block;
  font-family: "futuramedium", "Helvetica", Tahoma, Arial, sans-serif;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  padding: 0 34px 0 16px;
  text-align: left;
  text-transform: uppercase;
  border: none;
  font-weight: normal !important;
}

/* line 214, ../scss/styles.scss */
#filterResultsForm #filterResultsBtn:hover {
  cursor: pointer;
  background: url(../images/site_assets/indexSlideArrow.png) no-repeat 80% 50% #011a48;
}

/* line 219, ../scss/styles.scss */
#filterResultsForm .checkAllBox label {
  font-size: 0.9285em;
  font-size: 0.9285rem;
  line-height: 1.285em;
  line-height: 1.285rem;
  text-transform: none;
  color: #052763;
  cursor: pointer;
  margin-bottom: 0;
}

/* line 230, ../scss/styles.scss */
.customCheckBox input {
  display: none;
}

/* line 234, ../scss/styles.scss */
.lt-ie9 #filterResultsForm .customCheckBox input {
  display: inline-block;
  float: left;
  clear: left;
}

/* line 240, ../scss/styles.scss */
.customCheckBox input + label {
  padding: 3px 3px 3px 22px;
  padding: 3px 3px 3px 1.6rem;
  display: inline-block;
  position: relative;
  line-height: 18px;
  line-height: 1.285rem;
  clear: left;
  float: left;
}

/* line 251, ../scss/styles.scss */
.lt-ie9 .customCheckBox input + label {
  display: inline-block;
  float: left;
  clear: none;
}

/* line 257, ../scss/styles.scss */
.customCheckBox input + label:after {
  content: '\00a0';
  font-size: 14px;
  font-size: 1rem;
  position: absolute;
  top: 3px;
  left: 0px;
  color: #99a1a7;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0), inset 0px 1px 3px rgba(13, 59, 131, 0);
  border: none;
  -o-border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  -o-border-radius: 0.6425rem;
  -moz-border-radius: 0.6425rem;
  -webkit-border-radius: 0.6425rem;
  border-radius: 0.6425rem;
  background-color: #FFF;
  width: 18px;
  height: 18px;
  line-height: 18px;
  width: 1.285rem;
  height: 1.285rem;
  line-height: 1.285rem;
  text-align: center;
}

/* line 285, ../scss/styles.scss */
.lt-ie9 .customCheckBox input + label:after {
  display: none;
}

/* line 289, ../scss/styles.scss */
.customCheckBox input:checked + label:after {
  content: '\2714';
  color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0), inset 0px -15px 10px -12px rgba(0, 0, 0, 0), inset 15px 10px -12px rgba(13, 59, 131, 0);
  border: none;
  background-color: #052763;
}

/* -----------------------------------------
   Sitemap page
----------------------------------------- */
/* -----------------------------------------
   Google Map
----------------------------------------- */
/* line 321, ../scss/styles.scss */
#map_canvas {
  width: 95%;
  height: 100%;
  float: left;
}

/* -----------------------------------------
   Footer Styles
----------------------------------------- */
/* line 331, ../scss/styles.scss */
footer {
  background: #CCC;
}

/* ---------------------------------------------------
   Media Queries for mobile / tablets responsivenes
----------------------------------------------------- */
@media only screen and (device-width: 320px) and (orientation: portrait) {
  /* line 341, ../scss/styles.scss */
  html {
    font-size: 10px !important;
  }
}
@media only screen and (device-width: 320px) and (orientation: landscape) {
  /* line 348, ../scss/styles.scss */
  html {
    font-size: 11px !important;
  }
}
@media only screen and (max-width: 380px) {
  /* line 356, ../scss/styles.scss */
  html {
    font-size: 10px !important;
  }
}
@media only screen and (max-width: 498px) {
  /* line 363, ../scss/styles.scss */
  html {
    font-size: 10px !important;
  }
}
@media only screen and (max-width: 766px) and (min-width: 499px) {
  /* line 370, ../scss/styles.scss */
  html {
    font-size: 12px !important;
  }
}
@media only screen and (max-width: 767px) {
  /* line 378, ../scss/styles.scss */
  html {
    font-size: 13px !important;
  }
}
@media only screen and (device-width: 768px) and (orientation: portrait) {
  /* line 385, ../scss/styles.scss */
  html {
    font-size: 12px !important;
  }
}
@media only screen and (device-width: 768px) and (orientation: landscape) {
  /* line 392, ../scss/styles.scss */
  html {
    font-size: 13px !important;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
  /* line 399, ../scss/styles.scss */
  html {
    font-size: 13px !important;
  }
}
@media only screen and (min-width: 960px) {
  /* line 405, ../scss/styles.scss */
  html {
    font-size: 14px !important;
  }
}
@media print {
  /* line 411, ../scss/styles.scss */
  div:not(.reveal-modal) {
    display: inherit !important;
  }
}
