        
            {% if contentBlock.contentType == 'html' %}
                {{ contentBlock.htmlText|raw }}
            {% elseif contentBlock.contentType == 'image' %}
				{% if contentBlock.imageFiles|length > 1 %}
					<div id="slideshow_{{ contentBlock.id}}" class="slideshow large-12 small-12">
						<ul data-orbit>
						{% for imageBlock in contentBlock.imageFiles|sort_by_attribute('imageOrder') %}
							{% if imageBlock.imageFile.id is defined %}
							<li>{% media imageBlock.imageFile.id, 'big' with {'alt': contentBlock.title, 'title': '' } %}</li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>
				{% else %}
					{% for imageBlock in contentBlock.imageFiles|sort_by_attribute('imageOrder') %}						
							{% if imageBlock.imageFile.id is defined %}
							{% media imageBlock.imageFile.id, 'big' with {'alt': contentBlock.title, 'title': '' } %}
							{% endif %}
					{% endfor %}
				{% endif %}
            {% elseif contentBlock.contentType == 'file' and contentBlock.fileFile.id is defined %}
                Download file: <a class="fileLink" href="{{ path('sonata_media_download', {'id': contentBlock.fileFile.id}) }}" target="_blank">{{ contentBlock.fileFile.name }}</a>
            {% elseif contentBlock.contentType == 'youtube' and contentBlock.youtube.id is defined %}
				<div class="flex-video">
                	{% media contentBlock.youtube.id, 'big' %}
				</div>
            {% elseif contentBlock.contentType == 'vimeo' and contentBlock.vimeo.id is defined %}
				<div class="flex-video vimeo">
                	{% media contentBlock.vimeo.id, 'big' %}
				</div>
            {% else %}
                <p class="error">No content yet. Please Add content from the administation panel.</p>
            {% endif %}