<div id="st-accordion1" class="st-accordion">
    <ul>
        <li>
            <a href="#">Illustrations<span class="st-arrow">Open or Close</span></a>
            <div class="st-content">
                <p>O my friend - but it is too much for my strength - I sink under the weight of the splendour of these visions!</p>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</p>
            </div>
        </li>
        <li>
            <a href="#">Miscancellous<span class="st-arrow">Open or Close</span></a>
            <div class="st-content">
                <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?"</p>
                <p>He thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
            </div>
        </li>
        <li>
            <a href="#">References<span class="st-arrow">Open or Close</span></a>
            <div class="st-content">
                <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</p>
                <p>Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
            </div>
        </li>
        <li>
            <a href="#">Internship<span class="st-arrow">Open or Close</span></a>
            <div class="st-content">
                <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</p>
                <p>Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
            </div>
        </li>
    </ul>
</div>
