<div class="contactContainer vcard">
     <div class="row">
        <div class="six mobile-six column mapColumn">
            <div id="map_canvas"></div>
        </div> 
        <div class="three mobile-three column">
            <h4>Find Us</h4>
            <p>
                <span class="fn org">Maynard Malone</span><br />
                <span class="adr">
                <span class="street-address">23-25 Great Sutton Street</span><br />
                <span class="locality">London</span><br />
                <span class="postal-code">EC1V 0DN</span>
                </span>
            </p>
        </div> 
        <div class="three mobile-three column">
            <h4>Contact Us</h4>
            <p>
                <a href="tel:+442070172323" title="call us"><span class="tel">0207 017 2323</span></a><br />
                <a href="mailto:info@maynardmalone.com" title="e-mail us"><span class="email">info@maynardmalone.com</span></a>
                <span class="geo">
                    <span class="latitude"><span class="value-title" title="51.52318" ></span></span>
                    <span class="longitude"><span class="value-title" title="-0.100913"></span></span>                    
                </span>
            </p>
            <a href="#" title="Close Contact" id="closeContact"></a>
        </div> 
        <div class="three mobile-three column smoIcons smoIconsTop">
            <h4>Follow Us</h4>
            <ul>
                <li>
                    <a class="smoIcon linkedinIcon" href="http://www.linkedin.com/company/356876" title="Follow Us on LinkedIn" target="_blank"></a>
                </li>
                <li>
                    <a class="smoIcon tweetIcon" href="http://twitter.com/maynardmalone" title="Follow Us on Tweeter" target="_blank"></a>
                </li>
                <li>
                    <a class="smoIcon gplusIcon" href="https://plus.google.com/u/0/113175523350818996597/posts" title="Follow Us on Google+" target="_blank"></a>
                </li>
                <li>
                    <a class="smoIcon vimeoIcon" href="http://vimeo.com/user4637678" title="Follow Us on Vimeo" target="_blank"></a>
                </li>
            </ul>
        </div>  
    </div>
</div>
    
